Repository walodayeet/KNI: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,sass}": [
    "prettier --write"
  ],
  "package.json": [
    "prettier --write"
  ]
}

Configure for external MinIO service
  coolify.yml
  docker-compose.prod.yml
Due: prettier --write

Fix Docker build issues and ESLint configuration
  .dockerignore
  .eslintrc.json
  Dockerfile
  package-lock.json
  package.json
  scripts/test-docker-build.js
  src/lib/search.ts
Due: eslint --fix, prettier --write

Fix Docker build and TypeScript syntax errors
  Dockerfile
  src/lib/search.ts
Due: eslint --fix, prettier --write

Fix Docker npm ci failure: Update Node to v20 and regenerate package-lock.json
  Dockerfile
  package-lock.json
Due: prettier --write

Fix Docker build: Update @testing-library/react for React 19 compatibility and regenerate package-lock.json
  package-lock.json
  package.json
Due: prettier --write

Fix Docker runner stage: Add --only=production flag to npm ci
  Dockerfile
Due: none

Fix Docker production build: Make husky install conditional in prepare script
  package.json
Due: prettier --write

Add Redis password configuration to fix deployment warning
  .env
  .env.example
Due: none

Update Docker Compose files to properly configure Redis password
  docker-compose.prod.yml
  docker-compose.yml
Due: prettier --write

Fix Docker build by separating production dependencies stage
  Dockerfile
Due: none

Fix deps stage by adding prisma directory for postinstall script
  Dockerfile
Due: none

Fix Docker build by adding dummy DATABASE_URL for Prisma generation
  Dockerfile
Due: none

Fix build issues: resolve duplicate exports and add missing UI components
  package-lock.json
  package.json
  src/components/brevo/consultation-form.tsx
  src/components/brevo/form.tsx
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/lib/auth.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

Fix ESLint configuration: change strict rules to warnings to allow build
  .eslintrc.json
Due: prettier --write

feat: add Sentry global error handler for React rendering errors
  src/app/global-error.js
Due: eslint --fix, prettier --write

Fix TypeScript error: Update function calls to match state setter names in dashboard
  src/app/[locale]/(app)/dashboard/page.tsx
Due: eslint --fix, prettier --write

Fix TypeScript error: Add explicit type annotation for compiled variable in notifications.ts
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

Fix TypeScript error: use proper destructuring assignment in notifications.ts
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

Fix TypeScript error: correct channel mapping in notifications filter
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

Fix undefined expiresAt check in notification queue cleanup
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

fix: safe parse cached notifications data
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

fix: provide default empty object for optional data property in sendErrorNotification
  src/lib/notifications.ts
Due: eslint --fix, prettier --write

fix: remove unused Worker import from performance.ts
  src/lib/performance.ts
Due: eslint --fix, prettier --write

fix: remove unused performanceConfigSchema from performance.ts
  src/lib/performance.ts
Due: eslint --fix, prettier --write

fix: remove unused zod import from performance.ts
  src/lib/performance.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript strict mode compilation errors
  package-lock.json
  package.json
  src/lib/performance.ts
  src/lib/queue.ts
  src/lib/realtime.ts
  src/lib/reporting.ts
  src/lib/search.ts
  src/lib/security.ts
  src/lib/test-utils.tsx
  src/lib/testing.ts
  src/lib/upload.ts
  src/lib/validation.ts
  src/lib/webhooks.ts
  src/lib/workflow.ts
Due: eslint --fix, prettier --write

fix: update Dockerfile to use modern npm ci --omit=dev flag
  Dockerfile
Due: none

fix: resolve Docker build dependency conflicts
  Dockerfile
Due: none

fix: add native build dependencies for canvas package
  Dockerfile
Due: none

Fix Docker build: Install all deps before prisma generate in production-deps stage
  Dockerfile
Due: none

Fix Docker build: Add --legacy-peer-deps to npm prune command
  Dockerfile
Due: none

Update environment configuration with local PostgreSQL and MinIO settings
  .env
Due: none

Fix Docker configuration: correct PostgreSQL init.sql path and Redis authentication
  docker-compose.prod.yml
  docker-compose.yml
Due: prettier --write

feat: Add production deployment configuration and Docker setup
  CORRECTED_PRODUCTION_ENV.md
  DEPLOYMENT_POSTGRES_FIX.md
  FINAL_PRODUCTION_ENV.md
  PRODUCTION_DEPLOYMENT_FIX.md
  backups/backup_20250809_021111.sql
  docker-compose.prod.yml
  package.json
  scripts/validate-production-env.js
Due: eslint --fix, prettier --write

feat: Add successful database backups after PostgreSQL authentication fix
  backups/backup_20250809_072329.sql
  backups/backup_20250809_072727.sql
Due: none

Fix PostgreSQL authentication for Coolify deployment
  COOLIFY_DEPLOYMENT.md
  prisma/init.sql
Due: prettier --write

chore: remove env files from repo, ignore env/backups; sanitize prod env doc
  .env
  .env.production
  .gitignore
  FINAL_PRODUCTION_ENV.md
Due: prettier --write

prod: use kni_user role and remove external PG port; disable npm/npx hooks in Coolify
  coolify.yml
  docker-compose.prod.yml
  scripts/fix-postgres-user.sql
Due: prettier --write
